/C++/Checkers-Chess-Cpp/Debug/
/C++/Checkers-Chess-Cpp/Release/

/C++/Experimental_Game_Project/Debug/
/C++/Experimental_Game_Project/Release/

/C++/OpenGL_Test_Project/Debug/
/C++/OpenGL_Test_Project/Release/

/C++/OpenGL_Tetris/Debug/
/C++/OpenGL_Tetris/Release/

/C++/OpenGLCppCommon/Debug/
/C++/OpenGLCppCommon/Release/

/C++/Platformer_Game_Test/Debug/
/C++/Platformer_Game_Test/Release/

/C++/SimonCppLibrary/Debug/
/C++/SimonCppLibrary/Release/

/C++/Sphere/Debug/
/C++/Sphere/Release/

/C++/TerminalGames-cpp/Debug/
/C++/TerminalGames-cpp/Release/

/C++/TurnBasedStrategy/Debug/
/C++/TurnBasedStrategy/Release/

/C/OOP-C/Debug/
/C/OOP-C/Release/


/Haskell/
/Java/
/Python/
/Rust/
/Scala/
